* {
  font-family: "Righteous", cursive;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: grey;
  background-image: url("./assets/flying.gif");
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-style: solid;
  border-color: black;
}

button {
  margin: 10px;
}

h1 {
  font-size: 3.2rem;
  color: white;
}

h2 {
  font-size: 1.2rem;
}

.quizback {
  width: 40rem;
  margin: 2rem;
  background-color: rgb(72, 2, 62);
  background-position: center;
}

.quiz {
  color: white;
}

.menu {
  background-color: #ffffff;
}

.btn {
  background-color: #fa64d7;
  width: 12rem;
  height: 2rem;
}

.btn:hover {
  background-color: #ffffff;
}

#timer {
  color: white;
}

.choice-text:active {
  background-color: #ffffff;
}

.correct {
  background-color: #15a805;
  border-radius: 10px;
}

.incorrect {
  background-color: #f22229;
  border-radius: 10px;
}

.choice-container {
  display: flex;
  justify-content: space-between;
}

.scoring {
  display: flex;
}

.saved-name {
  padding: 10px;
}

.saved-score {
  padding: 10px;
}
